{% extends 'base.html.twig' %}

{% block menu %}

<li class="nav-item">
	<a class="nav-link" href="{{ path('register') }}">Register</a>
</li>

{% endblock %}

{% block body %}

	<div class="form">
	{{ form_start(loginForm) }}
		{{ form_widget(loginForm)}}
	{{ form_end(loginForm) }}	
	</div>

{% endblock %}
